<div class="relative h-78 w-full px-4 py-4 border border-2 border-grey-500 border-dotted mt-5">
<%= form_with(model: [member, loan], class: "content flex mt-8") do |form| %>

	<div class="w-full grid grid-cols-3 gap-4 justify-items-stretch">

		<div class="col-span-3">
			<%= form_error_notification(loan) %>
		</div>	
	
		<div class="w-32 justify-self-center">

		      <%= form.label "Pinjaman", class: "block text-sm font-medium text-gray-600 text-left" %>

			  <div class="flex">
				  <span class="inline-flex items-center px-3 text-sm text-slate-100 bg-gray-800 rounded-l-md border border-r-0 border-gray-300">
				      RM
				    </span>
			      <%= form.text_field :amount, class: "rounded-none rounded-r-md border focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5" %>
			  </div>
		</div>

	    <div class="w-28 justify-self-center">

		      <%= form.label "Tempoh", class: "block text-sm font-medium text-gray-600 text-left" %>

			  <div class="flex">
				  	<%= form.text_field :repayment_duration, class: "rounded-none rounded-l-md focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5" %>
					<span class="inline-flex items-center px-3 text-sm text-slate-100 bg-gray-800 rounded-r-md border border-r-0 border-gray-30">
					      Bulan
					</span>
			  </div>

	    </div>

		<div class="w-20 justify-self-center">
		      <%= form.label "Faedah", class: "block text-sm font-medium text-gray-600 text-left" %>

			  <div class="flex">
			      <%= form.text_field :interest, class: "rounded-none rounded-l-md focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5" %>
				  <span class="inline-flex items-center px-3 text-sm text-slate-100 bg-gray-800 rounded-r-md border border-r-0 border border-gray-30">
				      %
				    </span>
			  </div>
		</div>

	  	<div class="flex-auto w-full">
  	      <%= form.label "Nombor Perjanjian Pinjaman", class: "block text-sm font-medium text-gray-600 text-left" %>

  		  <div class="flex">
  		      <%= form.text_field :contract_number, class: "rounded-md border focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5" %>
  		  </div>
	  	</div>
		
		<div class="col-span-2 flex-auto w-full">
		      <%= form.label "Tarikh mula pinjaman", class: "block text-sm font-medium text-gray-600 text-left" %>

			  <div class="flex">
			      <%= form.date_select :start_date, order: [:day, :month, :year], class: "rounded-none rounded-l-md focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5" %>
			  </div>
		</div>
		
		<div class="col-span-1">
		</div>
		
		<div>
		    <div class="flex flex-row-reverse p-3">
		    	<div class="flex-initial pl-3">
		  		<%= form.submit class: "button-primary" %>
		  	</div>
	
		  	<div class="flex-initial">
		  		<%= link_to sanitize("&larr;"), member_path(@member), 
		  			class: "flex flex-col items-center rounded-md border border-slate-600 py-3 px-3 text-black font-medium cursor-pointer" %>
		
		  	</div>
		</div>
	</div>

<% end %>
</div>

