<%= turbo_frame_tag loan do %>

<div class="relative h-78 w-full px-4 py-4 border border-2 border-grey-500 border-dotted mt-5">
  
	<!-- Elements around each corner of the content box -->
	<div class="absolute top-2 left-2">
		<div class="flex items-center">
			<p class="text-sm">Contract: <%= loan.contract_number %></p>
		</div>
	</div>
	
	<div class="absolute top-2 right-2">
		<div class="flex items-center">
			<p class="text-sm"><%= loan.start_date.strftime("%-d %b %Y") %></p>
		</div>
	</div>
	
	<div class="absolute bottom-2 right-2">
		<div class="flex items-center">
            
			<%= link_to edit_member_loan_path(@member, loan), class: "w-4 mr-2 transform hover:text-red-400 hover:scale-110" do %>
				 <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
				 </svg>
            <% end %>
			
		    <%= link_to sanitize("&rarr;"), member_loan_path(@member, loan), 
				data: { turbo_frame: "_top"}, 
		        class: "hover:text-blue-400" %>
			
		</div>
	</div>
	
	<div class="absolute bottom-2 left-2">
		<div class="flex items-center">
            
			<%= button_to member_loan_path(@member, loan), method: :delete, data: { turbo_frame: "_top"}, class: "w-4 mr-2 transform hover:text-red-400 hover:scale-110" do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
              </svg>
            <% end %>
			
		</div>
	</div>

	<!-- Information in the middle of the box -->	
	<div class="grid grid-cols-1">
		<div class="col-span-1 items-center mt-5">
			<p class="text-sm text-center">Loan amount: <%= number_to_currency(loan.amount, :unit => "RM ") %></p>
		</div>
		
		<div class="col-span-1 items-center mt-3">
			<p class="text-sm text-center">Duration: <%= loan.repayment_duration %> bulan</p>
		</div>
		
		<div class="col-span-1 items-center mt-3">
			<p class="text-sm text-center">Monthly repayment: <%= number_to_currency(loan.repayment_amount, :unit => "RM ") %></p>
		</div>		
		
		<div class="col-span-1 items-center mt-3">
			<p class="text-sm text-center">Final payment: <%= number_to_currency(loan.final_payment_amount, :unit => "RM ") %></p>
		</div>
		
		<div class="col-span-1 items-center mt-3">
			<p class="text-sm text-center">Last payment date: <%= loan.end_date.strftime("%-d %b %Y") %></p>
		</div>
	
	</div>
	
</div>

<% end %>