<!DOCTYPE html>
<html class="h-full bg-gray-50 font-sans">
  <head>
    <title>Koop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col justify-between h-full">
	  
    <main class="container text-sm mx-auto mt-20 px-5">

      <div id="flash" class="flash flex justify-center">
          <%= render "layouts/flash" %>
      </div>
	  
      <%= yield %>

    </main>
	
	<footer class="bg-gray-900 text-slate-300 lg:text-left">
		<div class="flex flex-row justify-between ">
			<div class="m-auto">
			    <%= link_to root_path, class: "hover:text-blue-400" do %>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
					  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
					</svg>	
				<% end %>
			</div>
	
	 		<div class="m-auto text-sm text-center p-4">
				<p>Made with ❤️ by Muz | Get in touch <%= mail_to "mus.ariff@gmail.com", "@", class: "transform hover:text-blue-400 hover:scale-110" %>
				</p>								
		    </div>
	  </div>
	</footer>
	
  </body>
</html>
