<%= form_with(model: member, class: "contents") do |form| %>

  <%= form_error_notification(member) %>
  
  <div class="my-5">
    <%= form.label "Nama", class: "form-label" %>
    <%= form.text_field :name, class: "form-textarea" %>
  </div>

  <div class="my-5">
    <%= form.label "Nombor Kad Pengenalan", class: "form-label capitalize" %>
    <%= form.text_field :ic_number, class: "form-textarea" %>
  </div>

  <div class="my-5">
    <%= form.label "Nombor Keahlian", class: "form-label capitalize" %>
    <%= form.text_field :number, class: "form-textarea" %>
  </div>

  <div class="flex flex-row-reverse p-3">
  	<div class="flex-initial pl-3">
		<%= form.submit class: "button-primary" %>
	</div>
	
	<div class="flex-initial">
		<%= link_to sanitize("&larr; Kembali"), members_path, 
			class: "flex flex-col items-center rounded-md border border-slate-600 py-3 px-3 text-black font-medium cursor-pointer" %>
		
	</div>
  </div>
				   
<% end %>
