
<%= form_with(model: member, class: "flex items-end") do |form| %>

  <%= form_error_notification(member) %>
  
  <div class="mx-auto px-2">
    <%= form.label "Name", class: "form-label uppercase" %>
    <%= form.text_field :name,  placeholder: "Example: John", class: "form-textarea" %>
  </div>

  <div class="mx-auto px-2"">
    <%= form.label "IC Number", class: "form-label uppercase" %>
    <%= form.text_field :ic_number, placeholder: "Example: 98423", class: "form-textarea" %>
  </div>

  <div class="mx-auto px-2"">
    <%= form.label "Membership Number", class: "form-label uppercase" %>
    <%= form.text_field :number, placeholder: "Example: A202", class: "form-textarea" %>
  </div>

  <div class="flex flex-row">
	  
  	<div class="flex-initial ml-3">
  		<%= link_to sanitize("&larr;"), members_path, 
  			class: "flex flex-col items-center rounded-md border border-slate-600 py-2 px-2 text-black font-medium cursor-pointer" %>
  	</div>
	
  	<div class="flex-initial pl-3">
		<%= form.submit class: "button-primary" %>
	</div>


  </div>
				   
<% end %>

