<div class="flex flex-row items-center">
	<div class="w-1/4">
      <h1 class="font-bold text-4xl px-4">Borrowers</h1>
	</div>
	<div class="w-3/4 ml-10">
	  <%= turbo_frame_tag "new_member" do %>
		    <%= link_to 'New borrower', new_member_path, 
		                class: "button-primary" %>
	  <% end %>
	</div>
</div>

<div class="w-full bg-white shadow-md rounded my-6">

	<table class="min-w-max w-full table-auto">
	  <thead>
	    <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
	        <th class="py-3 px-6 text-left">Name</th>
	        <th class="py-3 px-6 text-center">IC Number</th>
	        <th class="py-3 px-6 text-center">Membership number</th>
	        <th class="py-3 px-6 text-center">Loans</th>
	        <th class="py-3 px-6 text-center">Action</th>
	    </tr>
	  </thead>
	  <tbody id="member-list"class="text-gray-600 text-sm font-light">
  		<%= render @members %>
	  </tbody>

	</table>

</div>

<div class="flex flex-row justify-end">
	<%= turbo_frame_tag "upload_member" do %>
		<%= link_to sanitize("Add members via CSV upload &rarr;"), upload_members_path, 
			class: "py-2 px-2 text-black hover:text-blue-500 font-medium cursor-pointer" %>
	<% end %>
</div>
	

